*{

	border: 1px solid red !important;
}
html, body{

	margin: 0;
	padding: 0;
	width: 100%;

}
#pet_pic{


	width: 100px;
	width: 100px;
}
body{

	background-image: url('http://orig15.deviantart.net/8bed/f/2015/058/a/8/smb1_background_by_steamerthesteamtrain-d8jq7ea.png');
	background-repeat: no-repeat;
	background-size: cover;
}	
